<footer>
  <div class="footer-content">
    <p>&copy; 2024 Atithi Grill and Bar. All rights reserved.</p>
    <div class="footer-links">
      <a href="https://www.facebook.com/people/Atithi-Grill-Bar/61560302097339/" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.youtube.com/@atithigrillandbar" target="_blank" aria-label="Youtube"><i class="fab fa-youtube"></i></a>
      <a href="https://www.instagram.com/atithi_grillandbar/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    </div>
    <p class="powered-by">Powered by: <a href="https://ishasolutions.com/" target="_blank">Isha Solutions</a></p>
  </div>
</footer>