<footer>
  <div class="footer-content">
    <p>&copy; 2024 Atithi Grill and Bar. All rights reserved.</p>
    <div class="footer-links">
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.twitter.com" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    </div>
    <p class="powered-by">Powered by: <a href="https://ishasolutions.com/" target="_blank">Isha Solutions</a></p>
  </div>
</footer>