<!-- footer.component.html -->
<footer>
    <div class="container">
      <p>&copy; 2024 Atithi Grill and Bar. All rights reserved.</p>
      <p>123 Main St, Round Rock, TX 78664 | Phone: (123) 456-7890 | Email: info&#64;atithigrillbar.com</p>
      <div>
        <a href="#"><img src="/assets/images/facebook-icon.png" alt="Facebook" width="30"></a>
        <a href="#"><img src="/assets/images/instagram-icon.png" alt="Instagram" width="30"></a>
        <a href="#"><img src="/assets/images/twitter-icon.png" alt="Twitter" width="30"></a>
      </div>
    </div>
  </footer>  