/* src/app/navbar/navbar.component.css */
.navbar {
  background-color: #ffffff;
  border-bottom: 2px solid #28a745;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggler {
  border-color: #28a745;
}

.navbar-toggler-icon {
  color: #28a745;
  font-size: 24px;
}

.navbar-nav .nav-item .nav-link {
  color: #333333;
  font-size: 18px;
  margin-right: 15px;
  transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
  color: #28a745;
  border-bottom: 2px solid #28a745;
}

.contact-button {
  margin-left: auto;
  background-color: #28a745;
  border-color: #28a745;
  color: #ffffff;
}

.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #28a745;
  width: 100%;
  min-width: fit-content; /* Ensure the dropdown doesn't shrink below the button width */
}

.nav-item.dropdown .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown-item {
  color: #333333;
  padding: 10px 20px; /* Adjust padding for better spacing */
  font-size: 16px; /* Adjust font size for better readability */
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words if necessary */
}

.dropdown-item:hover {
  background-color: #28a745;
  color: #ffffff;
}

/* Mobile specific styles */
@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .contact-button {
    margin-top: 10px;
  }
}