.navbar {
  background-color: rgb(53, 53, 53); /* Updated background color */
  border-bottom: 2px solid rgb(160, 138, 127); /* Updated border color */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  color: rgb(240, 214, 187); /* Updated text color */
  font-family: 'Playfair Display', serif; /* Updated font family */
  font-size: 24px;
  font-weight: bold;
}

.navbar-toggler {
  border-color: rgb(160, 138, 127); /* Updated toggler border color */
}

.navbar-toggler-icon {
  color: rgb(227 172 144); /* Updated toggler icon color */
  font-size: 24px;
  background-color: rgb(227 172 144);
}

.navbar-nav .nav-item .nav-link {
  color: rgb(240, 214, 187); /* Updated link color */
  font-size: 18px;
  margin-right: 15px;
  transition: color 0.3s;
}

/* New hover styles for navbar items */
.navbar-nav .nav-item .nav-link:hover {
  background-color: rgb(160, 138, 127);
  color: rgb(53, 53, 53);
  padding-bottom: 5px;
  transition: background-color 0.3s, padding-bottom 0.3s; /* Smooth transition */
}

.navbar-nav .nav-item .nav-link.active {
  color: rgb(160, 138, 127);
  border-bottom: 2px solid rgb(160, 138, 127);
}

.contact-button {
  margin-left: 5px;
  background-color: rgb(160, 138, 127); /* Updated button background */
  border-color: rgb(160, 138, 127); /* Updated button border */
  color: rgb(240, 214, 187); /* Updated button text color */
}

/* Button hover styles */
.contact-button:hover {
  background-color: rgb(160, 138, 127);
  color: rgb(53, 53, 53);
}

.dropdown-menu {
  background-color: rgb(53, 53, 53); /* Updated dropdown background */
  border: 1px solid rgb(160, 138, 127); /* Updated dropdown border */
  width: 100%;
  min-width: fit-content; /* Ensure the dropdown doesn't shrink below the button width */
}

.nav-item.dropdown .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown-item {
  color: rgb(240, 214, 187); /* Updated dropdown item text color */
  padding: 10px 20px; /* Adjust padding for better spacing */
  font-size: 16px; /* Adjust font size for better readability */
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words if necessary */
}

/* Dropdown item hover styles */
.dropdown-item:hover {
  background-color: rgb(160, 138, 127);
  color: rgb(53, 53, 53);
}

/* Mobile specific styles */
@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .contact-button {
    margin-top: 10px;
  }
}

.form-floating ~ label {
  /* Corrected sibling selector applied */
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(240, 214, 187); 
}