<section class="events-hero">
  <div class="hero-content">
    <h1>Events</h1>
    <p>Join us for our special events. Book your spot today!</p>
  </div>
</section>
<section class="events" id="events">
  <div class="container">
        <!-- Loader to show while the images are loading -->
        <div *ngIf="isContentLoading" class="loader-container">
          <div class="loader"></div>
        </div>
    <div class="events-grid">
      <div class="event-card" *ngFor="let event of sortedEvents">
        <div class="card">
          <div class="image-container">
            <img [ngSrc]="event.imageUrl" [width]="event.width" [height]="event.height" 
            loading="eager" 
            class="card-img-top" 
            [alt]="event.title" (load)="onImageLoad()" 
            (error)="onImageLoad()">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-date">{{ event.date | date: 'EEEE, MMMM d, y' }}</p>
            <p class="card-text">{{ event.description }}</p>
            <button *ngIf="!isPastEvent(event.date)" class="btn btn-primary" (click)="bookEvent(event)">Book Now</button>
            <span *ngIf="isPastEvent(event.date)" class="expired">Event Ended</span>
            <p *ngIf="event.bookingMessage" class="booking-message" [innerHTML]="event.bookingMessage"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
