<div class="container my-5">
  <h2>Our Menu</h2>
  <div class="row">
    <div class="col-md-4">
      <h3>Appetizers</h3>
      <ul>
        <li>Vegetable Samosa - $5.99</li>
        <li>Chicken Pakora - $6.99</li>
        <li>Paneer Tikka - $7.99</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Main Courses</h3>
      <ul>
        <li>Butter Chicken - $12.99</li>
        <li>Lamb Vindaloo - $14.99</li>
        <li>Palak Paneer - $11.99</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Desserts</h3>
      <ul>
        <li>Gulab Jamun - $4.99</li>
        <li>Rasgulla - $4.99</li>
        <li>Kheer - $3.99</li>
      </ul>
    </div>
  </div>
</div>