<!-- src/app/orderonline/orderonline.component.html -->
<div class="order-online-container">
    <div class="order-section">
        <h3>Order Online</h3>
        <p>Choose your preferred platform to order from Atithi Grill and Bar:</p>
        
        <!-- Order Directly from Us -->
        <div class="order-direct">
            <a href="https://www.clover.com/online-ordering/atithi-grill--bar-round-rock" target="_blank" class="order-direct-link">Order Directly from Us</a>
        </div>
        
        <div class="order-buttons">
            <div class="order-option">
                <a href="https://order.online/business/atithi-grill-and-bar-12919228" target="_self">
                    <img src="../../assets/doordash-logo.svg" alt="Order on DoorDash">
                    <span>Order on DoorDash</span>
                </a>
            </div>
            <div class="order-option">
                <a href="https://www.ubereats.com/store/atithi-grill-and-bar" target="_self">
                    <img src="../../assets/uber-eats.svg" alt="Order on UberEats">
                    <span>Order on UberEats</span>
                </a>
            </div>
            <div class="order-option">
                <a href="https://www.grubhub.com/restaurant/atithi-grill-and-bar" target="_self">
                    <img src="../../assets/grub-hub.svg" alt="Order on GrubHub">
                    <span>Order on GrubHub</span>
                </a>
            </div>
        </div>
    </div>
    
    <div class="reservation-section">
        <h3>Make a Reservation</h3>
        <p>Enjoy a dine-in experience at Atithi Grill and Bar. Contact us to make a reservation:</p>
        <div class="reservation-details">
            <p><strong>Address:</strong> 130 Sundance Pkwy, Round Rock, TX 78681</p>
            <p><strong>Phone:</strong> <a href="tel:+15125205197">(512) 520-5197</a></p>
            <p><strong>Email:</strong> <a href="mailto:info@atithigrillandbar.com">info&#64;atithigrillandbar.com</a></p>
        </div>
    </div>
</div>