<!-- src/app/home/home.component.html -->
<header class="hero-section">
  <div class="container">
    <h1>Atithi Grill and Bar</h1>
    <p>Experience the vibrant flavors of South East Asian cuisine in the heart of Austin Round Rock, Texas.</p>
    <a class="btn btn-primary" routerLink="/orderonline" aria-label="Order Online">Order Online</a>
  </div>
</header>

<section class="our-story" id="about">
  <div class="container">
    <div class="story-content">
      <div class="story-text">
        <h3>Embark on a culinary journey</h3>
        <p>Welcome to Atithi Grill and Bar in Round Rock, Texas! We specialize in South East Asian-Indian, Nepali, and Pakistani cuisine. At Atithi Grill and Bar, every guest is treated like family, embodying the Sanskrit tradition "Atithi Devo Bhava," meaning "the guest is God." Join us for a meal that reflects the rich culinary heritage of South East Asia, promising to tantalize your taste buds and create lasting memories.
        </p>
        <a class="story-link" href="#contact">Make Reservations</a>
      </div>
      <img src="../../assets/our-story.jpeg" alt="Our Story">
    </div>
  </div>
</section>

<section class="our-services" id="services">
  <div class="container">
    <h2>Our Services</h2>
    <p>Indulge in a fusion of flavors with our authentic South East Asian-Indian cuisine, crafted with care and tradition.</p>
    <div class="services-grid">
      <div class="service-item">
        <img src="../../assets/fusion-cuisine.jpeg" alt="South East Asian Fusion Cuisine">
        <h3>South East Asian Fusion Cuisine</h3>
        <p>Experience a fusion of vibrant flavors from South East Asia.</p>
      </div>
      <div class="service-item">
        <img src="../../assets/dining-experience1.jpg" alt="Elegant Dining Experience">
        <h3>Elegant Dining Experience</h3>
        <p>Indulge in an elegant and sophisticated dining experience.</p>
      </div>
      <div class="service-item">
        <img src="../../assets/cocktails.jpg" alt="Exotic Cocktails and Mocktails">
        <h3>Exotic Cocktails and Mocktails</h3>
        <p>Sip on exotic cocktails and refreshing mocktails.</p>
      </div>
      <div class="service-item">
        <img src="../../assets/live-music.jpeg" alt="Live Music and Entertainment">
        <h3>Live Music and Entertainment</h3>
        <p>Enjoy live music and entertainment while dining.</p>
      </div>
      <div class="service-item">
        <img src="../../assets/private-event.jpeg" alt="Private Event Hosting">
        <h3>Private Event Hosting</h3>
        <p>Host your private events with style and flair.</p>
      </div>
      <div class="service-item">
        <img src="../../assets/brunch-specials.jpeg" alt="Weekend Brunch Specials">
        <h3>Weekend Brunch Specials</h3>
        <p>Delight in delectable brunch offerings every weekend.</p>
      </div>
    </div>
  </div>
</section>

<section class="contact-us" id="contact">
  <div class="container">
    <h2>Contact Us</h2>
    <div class="contact-content">
      <div class="contact-info">
        <p>Address: 130 Sundance Pkwy, Round Rock, TX 78681</p>
        <p>Phone: <a href="tel:+15125205197" aria-label="Call Us">(512) 520-5197</a></p>
        <p>Email: <a href="mailto:info@atithigrillandbar.com" aria-label="Email Us">info&#64;atithigrillandbar.com</a></p>
        <h3>Hours</h3>
        <ul>
          <li>Monday - Friday: 9:00am - 10:00pm</li>
          <li>Saturday: 9:00am - 6:00pm</li>
          <li>Sunday: 9:00am - 12:00pm</li>
        </ul>
      </div>
      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6876.536147210659!2d-97.681773!3d30.485163!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644cf2fabb74a4d%3A0xdcf2c6c5756a110c!2sAtithi%20Grill%20and%20Bar!5e0!3m2!1sen!2sin!4v1720227675505!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>